[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-cors-headers = "*"
mysqlclient = "*"
django-storages = "*"
boto3 = "*"
djangorestframework = "*"
black = "==21.12b0"
isort = "==5.10.1"
djangorestframework-simplejwt = "*"
dj-rest-auth = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.9"

[tool.black]
line-length = 120

[tool.isort]
profile = "black"
